<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form class="menu-button" action={{item.url}}>
    <button type="submit" {% if item == active %} class="btn btn-primary"
            {% else %} class="btn" {% endif %}>{{ item.title }}</button>
</form>